.buying {
  display: flex;
  justify-content: space-between; }

.inc {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 5px;}
p {
  margin: 0;
}
i {
  cursor: pointer;
}
.inc_icon {
  color: green;
}
.dec_icon {
  color: red;
}